<h1>{{title}}</h1>

<form [ngFormModel]="signupForm">
    <fieldset>
        <legend>User</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" [(ngModel)]="user.name" #name="ngForm" ngControl="name" type="text" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
            Name is required!
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="user.email" id="email" #email="ngForm" ngControl="email" type="text" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.emailValidators">Email is not valid.</div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input [(ngModel)]="user.phone" id="phone" ngControl="phone" type="text" class="form-control">
        </div>
    </fieldset>

    <fieldset ngControlGroup="address">
        <legend>Address</legend>

        <div class="form-group">
            <label for="street">Street</label>
            <input [(ngModel)]="user.address.street" id="street" #street="ngForm" ngControl="street" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="suite">Suite</label>
            <input [(ngModel)]="user.address.suite" id="suite" ngControl="suite" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input [(ngModel)]="user.address.city" id="city" ngControl="city" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="zipcode">ZipCode</label>
            <input [(ngModel)]="user.address.zipcode" id="zipcode" ngControl="zipcode" type="text" class="form-control">
        </div>
    </fieldset>
    <button (click)="save()" [disabled]="!signupForm.valid" class="btn btn-primary">Save</button>
</form>